fieldset{
    margin-bottom: .5rem;
}

td {
    border-inline: 1px solid var(--pico-table-border-color);
}

th, td {
    background-color: transparent;
}

th {
    height: 8.75rem; /* was 140px */
    white-space: nowrap;
    padding: 0 !important;
    position: relative;
}

th::before,
th::after {
    content: '';
    position: absolute;
    width: 0.0625rem; /* 1px */
    height: 50%;
    bottom: 0;
    background-color: var(--pico-table-border-color);
}

th::before {
    left: 0;
}

th::after {
    right: 0;
}

th > div {
    transform: translate(0, 3.1875rem) rotate(-65deg); /* was translate Y 51px */
    text-align: left;
    width: 1.875rem; /* was 30px */
    position: relative;
}

/* Customize the widths for these classes */
.check-column {
    width: 0.625rem; /* 10px */
}

.comment-column {
    min-width: 16.25rem; /* 260px */
}

.text-column {
    /* For text input columns */
    width: 9.375rem; /* 150px */
}

.stock-column {
    width: 7.5rem; /* 120px */
}

.description-column {
    min-width: 13.75rem; /* 220px */
}

.number-column {
    /* For numeric columns */
    width: 5rem; /* 80px */
}

.picture-column {
    /* For the picture column */
    width: 6.25rem; /* 100px */
}

td {
    padding: 8px !important;
}


.theme-toggle-container {
    position: absolute;
    top: 10px;
    right: 10px;
}