<!DOCTYPE html>
<html lang="en" data-theme="light">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404 Not Found</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/pico.slate.css') }}">
</head>

<body>
    <header class="container">
        <h1>404 Not Found</h1>
    </header>
    <main class="container">
        <p>The page you are looking for does not exist.</p>
        <a href="/">Go back to home</a>
    </main>
</body>

</html>
